<%- include ('partials/header'); -%>

    <!-- Css -->
    <link rel="stylesheet" href="../first.css">

    <title>Document</title>
</head>

<body>

    <div class="row">
        <% for(var i=0 ; i<res.length ; i++ ) { %>
        <div class="col-xl-6 col-12">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= res[i].name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/<%=branch>/<%=years%>/<%=res[i].%>" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>


<%- include ('partials/footer'); -%>





















    <!-- 
<div class="col-xl-6 col-12">
            <div class="card" style="width: 18rem;">
                <img src="images/man-programmer-working-computer-with-code-screen-illustration_87749-275.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->